version: "3.8"

services:
  server:
    build: ./server
    volumes:
      - ./server:/app
    command: pdm run python main_server.py
    depends_on:
      - db
    env_file:
      - .env.template
    ports:
      - 4200:4200

  db:
    image: postgres:15.2-alpine
    restart: always
    env_file:
      - .env.template
    volumes:
      - ./db:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080