version: "3.8"

services:
  server:
    build: ./server
    volumes:
      - ./server/src/:/app/src/
      - ./server/pdm.lock:/app/pdm.lock
      - ./server/pyproject.toml:/app/pyproject.toml
    command: pdm run python src/main_server.py
    depends_on:
      - db
    environment:
      - POSTGRES_NAME
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
      - POSTGRES_PORT
      - POSTGRES_HOST
      - SERVER_PORT_HANDSHAKE
      - SERVER_PORT_TCP
      - SERVER_PORT_UDP
    ports:
      - ${SERVER_PORT_TCP}:${SERVER_PORT_TCP}
      - ${SERVER_PORT_HANDSHAKE}:${SERVER_PORT_HANDSHAKE}
      - ${SERVER_PORT_UDP}:${SERVER_PORT_UDP}/udp

  db:
    image: postgres:15.2-alpine
    environment:
      - POSTGRES_NAME
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    ports:
      - 8080:8080
  esp-idf:
    image: espressif/idf:release-v4.3
    volumes:
      - ./esp_32/:/workspace
    environment:
      - ESP_DEVICE
    devices:
      - "${ESP_DEVICE}:${ESP_DEVICE}"
    command: /bin/bash -c "cd /workspace && idf.py -p ${ESP_DEVICE} monitor"
    tty: true
    stop_signal: SIGINT

volumes:
  db_data:
